DECLARE
    l_date DATE;
    l_interval NUMBER;
    l_horW VARCHAR2(10);
    l_error_message VARCHAR2(100);
    l_bool BOOLEAN;
BEGIN
    l_date := TO_DATE('2021-MAR-10', 'YYYY-MON-DD');
    l_interval := -11;
    l_bool := fn_Izabora_isholiday_FCUST(l_date, l_interval, l_horW, l_error_message);
    IF l_bool = TRUE THEN
        DBMS_OUTPUT.PUT_LINE(l_error_message);
        DBMS_OUTPUT.PUT_LINE('True');
    ELSE
        DBMS_OUTPUT.PUT_LINE(l_error_message);
        DBMS_OUTPUT.PUT_LINE('False');    
    END IF;

END;