CASE 1: both currencies are found in the right order, so we return the mid rate from the table
CASE 2: the currencies are found in reverse order, so we divide 1 by the mid rate in order to get the right value
CASE 3: we need to derive the mid rate
	SUBCASE 3.1: the first currency in the table is the currency from (first record) and the second currency in the table is the 
	             currency to (second record)
	SUBCASE 3.2: the second currency in the table is the currency from (first record) and the second currency in the table is the
		     currency to (second record)
	SUBCASE 3.3: the first currency in the table is the currency from (first record) and the first currency in the table is the currency 
	             to (second record)
	SUBCASE 3.4: the second currency in the table is the currency from (first record) and the first currency in the table is the currency
		     to (second record)


DECLARE
    l_ccy_first     VARCHAR2(3);
    l_ccy_second    VARCHAR2(3);
    l_branch_code   VARCHAR2(3);
    l_rate          NUMBER(24,12);
BEGIN
    l_ccy_first := 'USD';
    l_ccy_second := 'GBP';
    l_branch_code := '000';
    l_rate := IZABORA_MID_RATE(l_ccy_first, l_ccy_second, l_branch_code);
    DBMS_OUTPUT.PUT_LINE(l_rate);
END;
